@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black-50">Welcome to Razor Sharp Pizzas</h1>
        <h2 class="mainSubtitle">Razor Sharp Pizza, is Pizza for You and Me !</h2>

    </div>
    
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1"  asp-area="" asp-page="Checkout/ThankYou">Bring Me the Pizza</a>
</div>
